n8n/nueva-paciente-ghl.json
{
  "name": "Clínica Esperanza - Nueva Paciente → GHL CRM",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nueva-paciente",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-a1b2c3d40001",
      "name": "Recibir Datos Paciente",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "clinica-esperanza-nueva-paciente"
    },
    {
      "parameters": {
        "jsCode": "// ──────────────────────────────────────────────────────\n// TRANSFORMAR datos del formulario al formato de GHL CRM\n// El contacto YA existe en GHL (creado por agendar-cita-ghl).\n// Este workflow lo actualiza con el historial médico completo.\n// ──────────────────────────────────────────────────────\nconst body = $input.first().json.body;\n\nif (!body.contactId) {\n  throw new Error('contactId es requerido. Debe enviarse desde el frontend (localStorage).');\n}\n\n// Formatear teléfono para GHL (formato internacional +506XXXXXXXX)\nlet phone = (body.phone || '').replace(/\\D/g, '');\nif (phone.startsWith('506')) {\n  phone = '+' + phone;\n} else if (phone.length === 8) {\n  phone = '+506' + phone;\n} else {\n  phone = '+' + phone;\n}\n\n// Helper: booleano → 'Sí' / 'No'\nconst siNo = (val) => val ? 'Sí' : 'No';\n\n// ──────────────────────────────────────────────────────\n// Custom Fields → claves exactas de GHL\n// ──────────────────────────────────────────────────────\nconst customFields = [\n\n  // ── Datos Generales ──────────────────────────────────\n  { key: 'contact.nmero_de_identificacin',   field_value: String(body.idNumber || '') },\n  { key: 'contact.edad',                     field_value: String(body.age || '') },\n\n  // ── Antecedentes Médicos ──────────────────────────────\n  { key: 'contact.padece_enfermedad',        field_value: siNo(body.hasDisease) },\n  { key: 'contact.cul_enfermedad',           field_value: body.hasDisease ? (body.diseaseDetails || '') : '' },\n  { key: 'contact.toma_medicamentos',        field_value: siNo(body.takesMedication) },\n  { key: 'contact.cul_medicamento',          field_value: body.takesMedication ? (body.medicationDetails || '') : '' },\n  { key: 'contact.ha_sido_operada',          field_value: siNo(body.hadSurgery) },\n  { key: 'contact.de_qu_operacin',           field_value: body.hadSurgery ? (body.surgeryDetails || '') : '' },\n  { key: 'contact.hace_ejercicio',           field_value: '' },\n  { key: 'contact.fuma',                     field_value: '' },\n\n  // ── Historial Ginecológico ────────────────────────────\n  { key: 'contact.edad_primera_menstruacin',  field_value: String(body.firstPeriodAge || '') },\n  { key: 'contact.fecha_ltima_menstruacin',   field_value: body.lastPeriodDate || '' },\n  { key: 'contact.usa_anticonceptivo',        field_value: siNo(body.usesContraceptive) },\n  { key: 'contact.cul_anticonceptivo',        field_value: body.usesContraceptive ? (body.contraceptiveDetails || '') : '' },\n  { key: 'contact.ha_estado_embarazada',      field_value: siNo(body.hasBeenPregnant) },\n  { key: 'contact.cuntas_veces_embarazada',   field_value: body.hasBeenPregnant ? String(body.pregnancyCount || '') : '' },\n  { key: 'contact.partos_vaginales',          field_value: body.hasBeenPregnant ? String(body.vaginalBirths || '0') : '' },\n  { key: 'contact.cesreas',                   field_value: body.hasBeenPregnant ? String(body.cesareans || '0') : '' },\n  { key: 'contact.abortos',                   field_value: body.hasBeenPregnant ? String(body.abortions || '0') : '' },\n  { key: 'contact.otros_embarazos',           field_value: body.hasBeenPregnant ? (body.otherPregnancies || '') : '' },\n\n  // ── Citología y VPH ───────────────────────────────────\n  { key: 'contact.se_ha_hecho_citologa',      field_value: siNo(body.hadPapSmear) },\n  { key: 'contact.fecha_ltima_citologa',      field_value: body.hadPapSmear ? (body.lastPapSmear || '') : '' },\n  { key: 'contact.citologa_alterada',         field_value: '' },\n  { key: 'contact.prueba_de_vph_realizada',   field_value: '' },\n\n  // ── Antecedentes Familiares ───────────────────────────\n  { key: 'contact.enfermedades_familiares',   field_value: body.familyHistory || '' },\n];\n\n// ──────────────────────────────────────────────────────\n// Construir nota resumen para GHL (sección Notas)\n// ──────────────────────────────────────────────────────\nconst fullName = `${body.firstName || ''} ${body.lastName || ''}`.trim();\n\nconst ts = body.timestamp\n  ? new Date(body.timestamp).toLocaleString('es-CR', { timeZone: 'America/Costa_Rica' })\n  : new Date().toLocaleString('es-CR', { timeZone: 'America/Costa_Rica' });\n\nconst lines = [\n  '======================================',\n  '   HISTORIAL MÉDICA - PRIMERA CITA    ',\n  '======================================',\n  '',\n  '[ DATOS BÁSICOS ]',\n  `Nombre completo : ${fullName}`,\n  `Cédula / ID     : ${body.idNumber}`,\n  `Edad            : ${body.age} años`,\n  `Fecha nac.      : ${body.dob}`,\n  `Email           : ${body.email}`,\n  `Teléfono        : ${body.phone}`,\n  `Fecha registro  : ${ts}`,\n  '',\n  '[ ANTECEDENTES MÉDICOS ]',\n  `Enfermedades crónicas : ${body.hasDisease ? 'SÍ — ' + body.diseaseDetails : 'No'}`,\n  `Medicamentos actuales : ${body.takesMedication ? 'SÍ — ' + body.medicationDetails : 'No'}`,\n  `Cirugías previas      : ${body.hadSurgery ? 'SÍ — ' + body.surgeryDetails : 'No'}`,\n  '',\n  '[ HISTORIAL GINECOLÓGICO ]',\n  `Primera menstruación  : ${body.firstPeriodAge} años`,\n  `Última menstruación   : ${body.lastPeriodDate}`,\n  `Anticonceptivos       : ${body.usesContraceptive ? 'SÍ — ' + body.contraceptiveDetails : 'No'}`,\n];\n\nif (body.hasBeenPregnant) {\n  lines.push('');\n  lines.push('[ HISTORIAL OBSTÉTRICO ]');\n  lines.push(`Total embarazos  : ${body.pregnancyCount}`);\n  lines.push(`Partos vaginales : ${body.vaginalBirths || 0}`);\n  lines.push(`Cesáreas         : ${body.cesareans || 0}`);\n  lines.push(`Abortos          : ${body.abortions || 0}`);\n  if (body.otherPregnancies) lines.push(`Otros            : ${body.otherPregnancies}`);\n} else {\n  lines.push('');\n  lines.push('[ HISTORIAL OBSTÉTRICO ]');\n  lines.push('Sin embarazos previos');\n}\n\nlines.push('');\nlines.push('[ CITOLOGÍA / PAP SMEAR ]');\nif (body.hadPapSmear) {\n  lines.push('Ha tenido PAP : Sí');\n  lines.push(`Último PAP    : ${body.lastPapSmear}`);\n} else {\n  lines.push('Ha tenido PAP : No');\n}\n\nlines.push('');\nlines.push('[ ANTECEDENTES FAMILIARES ]');\nlines.push(body.familyHistory || 'Sin información proporcionada');\nlines.push('');\nlines.push('======================================');\n\nconst medicalNote = lines.join('\\n');\n\n// ──────────────────────────────────────────────────────\n// Payload de actualización para GHL (PUT /contacts/{id})\n// Nota: el contacto ya tiene firstName, lastName, email y phone\n// por haberlos guardado en agendar-cita-ghl. Solo actualizamos\n// dateOfBirth y los custom fields médicos.\n// ──────────────────────────────────────────────────────\nconst ghlUpdate = {\n  dateOfBirth: body.dob || '',\n  customFields,\n};\n\nreturn [{ json: { contactId: body.contactId, ghlUpdate, medicalNote, rawData: body } }];"
      },
      "id": "b2c3d4e5-0002-0002-0002-b2c3d4e50002",
      "name": "Transformar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/locations/REEMPLAZAR_CON_TU_GHL_LOCATION_ID/customFields",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REEMPLAZAR_CON_TU_GHL_PRIVATE_API_KEY"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {}
      },
      "id": "h8i9j0k1-0008-0008-0008-h8i9j0k10008",
      "name": "GHL - Obtener IDs de Campos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [720, 300]
    },
    {
      "parameters": {
        "jsCode": "// Resolver IDs de custom fields: key → id\nconst fieldDefs = $input.first().json.customFields || [];\n\nconst fieldIdMap = {};\nfor (const f of fieldDefs) {\n  const key = f.fieldKey || f.key || '';\n  if (key && f.id) fieldIdMap[key] = f.id;\n}\n\nconst formData = $('Transformar Datos').first().json;\nconst rawCustomFields = formData.ghlUpdate.customFields || [];\n\nconst customFields = [];\nfor (const cf of rawCustomFields) {\n  const id = fieldIdMap[cf.key];\n  if (id !== undefined) {\n    customFields.push({ id, field_value: cf.field_value });\n  }\n}\n\nconst ghlUpdate = { ...formData.ghlUpdate, customFields };\n\nreturn [{ json: { contactId: formData.contactId, ghlUpdate, medicalNote: formData.medicalNote } }];"
      },
      "id": "i9j0k1l2-0009-0009-0009-i9j0k1l20009",
      "name": "Resolver IDs y Construir Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.contactId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REEMPLAZAR_CON_TU_GHL_PRIVATE_API_KEY"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.ghlUpdate) }}",
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-c3d4e5f60003",
      "name": "GHL - Actualizar Contacto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Resolver IDs y Construir Payload').first().json.contactId }}/notes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REEMPLAZAR_CON_TU_GHL_PRIVATE_API_KEY"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ body: $('Transformar Datos').first().json.medicalNote }) }}",
        "options": {}
      },
      "id": "d4e5f6a7-0004-0004-0004-d4e5f6a70004",
      "name": "GHL - Agregar Historial Medico",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Historial médico guardado exitosamente' }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "e5f6a7b8-0005-0005-0005-e5f6a7b80005",
      "name": "Responder Exito",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: 'Error al guardar historial médico', error: $json.message }) }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "f6a7b8c9-0006-0006-0006-f6a7b8c90006",
      "name": "Responder Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1500, 500]
    }
  ],
  "connections": {
    "Recibir Datos Paciente": {
      "main": [
        [{ "node": "Transformar Datos", "type": "main", "index": 0 }]
      ]
    },
    "Transformar Datos": {
      "main": [
        [{ "node": "GHL - Obtener IDs de Campos", "type": "main", "index": 0 }]
      ]
    },
    "GHL - Obtener IDs de Campos": {
      "main": [
        [{ "node": "Resolver IDs y Construir Payload", "type": "main", "index": 0 }]
      ]
    },
    "Resolver IDs y Construir Payload": {
      "main": [
        [{ "node": "GHL - Actualizar Contacto", "type": "main", "index": 0 }]
      ]
    },
    "GHL - Actualizar Contacto": {
      "main": [
        [{ "node": "GHL - Agregar Historial Medico", "type": "main", "index": 0 }]
      ]
    },
    "GHL - Agregar Historial Medico": {
      "main": [
        [{ "node": "Responder Exito", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "4.0.0",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "clinica-esperanza"
  },
  "id": "clinica-esperanza-nueva-paciente-ghl",
  "tags": [
    {
      "createdAt": "2026-02-27T00:00:00.000Z",
      "updatedAt": "2026-02-27T00:00:00.000Z",
      "id": "tag-clinica",
      "name": "clinica-esperanza"
    }
  ]
}
