n8n/seguimiento-paciente-ghl.json
{
  "name": "Dra. Ekaterina Malaspina - Seguimiento Paciente GHL",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "seguimiento-paciente",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "fccafbcb-24f3-4eb0-9f22-aa8026d98f85",
      "name": "Recibir Datos Seguimiento",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "814a9dfe-67ac-47de-943d-e5d57a48d1ab"
    },
    {
      "parameters": {
        "jsCode": "// ──────────────────────────────────────────────────────\n// Construir payload de actualización con los 6 campos de seguimiento\n// ──────────────────────────────────────────────────────\nconst body = $input.first().json.body;\n\nif (!body.contactId) {\n  throw new Error('contactId es requerido para actualizar el contacto.');\n}\n\n// Helper: booleano → 'Sí' / 'No'\nconst siNo = (val) => val ? 'Sí' : 'No';\n\nconst customFields = [\n  { key: 'contact.hace_ejercicio',         field_value: siNo(body.doExercise) },\n  { key: 'contact.fuma',                   field_value: siNo(body.smokes) },\n  { key: 'contact.prueba_de_vph_realizada', field_value: siNo(body.hadVPHTest) },\n  { key: 'contact.fecha_ltima_citologa',   field_value: body.lastCytology || '' },\n  { key: 'contact.citologa_alterada',      field_value: siNo(body.alteredCytology) },\n  { key: 'contact.fecha_ltima_menstruacin', field_value: body.lastPeriod || '' },\n];\n\nreturn [{\n  json: {\n    contactId: body.contactId,\n    updatePayload: { customFields },\n  }\n}];"
      },
      "id": "94d60934-72b5-4687-82f7-0cfe359bb9d3",
      "name": "Construir Payload Seguimiento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "onError": "continueErrorOutput",
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $json.contactId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REEMPLAZAR_CON_TU_GHL_PRIVATE_API_KEY"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.updatePayload) }}"
      },
      "id": "894651ee-035d-49b4-a33a-344b7804d631",
      "name": "GHL - Actualizar Contacto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "onError": "continueErrorOutput",
      "position": [720, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true }",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "f1ccb083-0e63-4919-85a4-0d215e5d2757",
      "name": "Responder Éxito",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [980, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"{{ $json.message }}\" }",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "8a5d91d2-c5c3-46a9-8ed1-c3b91c7b8608",
      "name": "Responder Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 500]
    }
  ],
  "connections": {
    "Recibir Datos Seguimiento": {
      "main": [
        [{ "node": "Construir Payload Seguimiento", "type": "main", "index": 0 }]
      ]
    },
    "Construir Payload Seguimiento": {
      "main": [
        [{ "node": "GHL - Actualizar Contacto", "type": "main", "index": 0 }],
        [{ "node": "Responder Error", "type": "main", "index": 0 }]
      ]
    },
    "GHL - Actualizar Contacto": {
      "main": [
        [{ "node": "Responder Éxito", "type": "main", "index": 0 }],
        [{ "node": "Responder Error", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-27T00:00:00.000Z",
  "versionId": "434602a6-47fb-4b45-bc40-6a21ad8961e5",
  "id": "7672c204-221b-43a4-850f-eb625de05b01",
  "active": false
}
